:root {
    --pricing-dimensions: min(50%, 400px);
}

#nav-pricing {
    font-weight: bold;
}

h1 {
    font-weight: var(--font-weight);
    font-size: 48px;
    margin: 64px 0;
}

h2, h3 {
    grid-column: 1 / 3;
    margin: 0;
    padding-left: 18px;
    font-weight: var(--font-weight);
}

h3 {
    margin-bottom: 18px;
    color: #9E9E9E;
}

h3 span {
    color: white;
}

.showcase {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, var(--pricing-dimensions));
    justify-content: center;

    margin-bottom: 80px;
}

.picture-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.picture-container > svg {
    width: 100%;
}

.picture-container:hover picture {
    transform: scale(1.08);
    cursor: pointer;
}

.showcase picture {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: 500ms;
}

.showcase picture img {
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
}